/* Style dla strony głównej */
html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

body {
    background: url('../img/IMG_8082.png') no-repeat center center fixed;
    background-size: cover;
    color: white;
}

/* Style dla strony About Me */
body.about-page {
    background: none !important;
    background-color: white !important;
    color: black !important;
    overflow: auto !important;
    height: auto !important;
}

body.about-page header.navbar {
    background-color: white !important;
}

body.about-page .navbar-brand, body.about-page .nav-link {
    color: black !important;
}

.about-section {
    text-align: justify;
    padding: 50px 0;
    width: 100%;
    margin-top: 0px;
}

.about-section h1 {
    font-size: 3em;
    margin-bottom: 10px;
    margin-left: 110px;
}

.about-section hr {
    border: 1px solid black;
    width: 80%;
    margin: 30px auto;
}

.about-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column; /* Ustawienie elementów w kolumnie */
    margin-right: 90px;
}

.text {
    padding: 20px;
    padding-right: 105px;
    width: 100%; /* Zajmuje całą szerokość kontenera */
    box-sizing: border-box; /* Uwzględnia padding w szerokości elementu */
    margin-left: 90px;
}

.image {
    padding: 20px;
    width: 100%; /* Zajmuje całą szerokość kontenera */
    box-sizing: border-box; /* Uwzględnia padding w szerokości elementu */
}

.image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
}

main {
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Wyrównanie nawigacji */
.custom-navbar {
    display: flex;
    justify-content: space-between; /* Rozszerza elementy nawigacji na całą szerokość */
    align-items: center; /* Wyrównuje elementy w pionie */
}

/* Styl dla "Home" */
.navbar-brand {
    margin-left: -10px; /* Dostosuj ten margines, aby przesunąć "Home" w lewo */
}

/* Styl dla pozostałych elementów menu */
.navbar-nav {
    margin-right: -85px; /* Dostosuj ten margines, aby przesunąć menu w prawo */
}

.nav-item {
    margin-left: 120px; /* Dostosuj odstępy między elementami menu */
}

/* Styl dla linków w nawigacji */
.nav-link {
    font-size: 1.2rem; /* Zwiększa rozmiar czcionki dla linków w nawigacji */
    color: rgb(255, 255, 255); /* Ustawia kolor czcionki na biały */
    padding: 0.5rem 1rem; /* Dodaje trochę wewnętrznego odstępu (padding) dla przycisków */
    transition: color 0.3s ease; /* Dodaje efekt przejścia dla zmiany koloru */
}

/* Styl dla przycisku menu rozwijanego */
.navbar-toggler {
    font-size: 1.5rem; /* Zwiększa rozmiar ikony przycisku */
    border: none; /* Usuwa domyślną ramkę */
    background: transparent; /* Ustawia tło na przezroczyste */
}

@media (max-width: 767.98px) {
    .navbar-brand {
        margin-left: 0; /* Przesunięcie w lewo może być zbyt duże na mniejszych ekranach */
    }
    .navbar-nav {
        margin-right: 0; /* W mniejszych ekranach dostosuj marginesy */
    }
}

.text-light {
    display: flex;
    justify-content: space-between; /* Rozsuwa elementy na boki */
    width: 100%;
    padding: 0 5%; /* Daje trochę odstępu od krawędzi */
}

.text-light h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
}

.flex-left {
    margin-left: 10%; /* Opcjonalnie, aby wyrównać do lewej */
}

.flex-right {
    margin-right: 10%; /* Opcjonalnie, aby wyrównać do prawej */
}

.smaller-text {
    font-size: 3rem !important;
    text-align: left; /* Dostosuj tę wartość do pożądanego rozmiaru czcionki */
}

.align-left {
    display: inline-block;
    text-align: left;
    width: 100%;
}

.globe-container {
    display: inline-block;
    vertical-align: middle;
    margin-top: -0.4em;
}

.globe {
    width: 1em;
    height: 1em;
    animation: rotate 10s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.marquee {
    width: 100%;
    height: 33vh; /* Wysokość ustawiona na 1/3 strony */
    position: fixed; /* Pozycjonowanie tekstu w dolnej części ekranu */
    bottom: 0; /* Ustawienie tekstu na dole strony */
    left: 0; /* Ustawienie tekstu od lewej krawędzi ekranu */
    overflow: hidden;
    white-space: nowrap;
    color: white; /* Kolor tekstu dla lepszej widoczności */
    display: flex;
    align-items: center; /* Wyrównanie tekstu do środka w pionie */
}

.marquee p {
    display: inline-block;
    padding-left: 100%;
    font-size: 12em; /* Zwiększenie rozmiaru czcionki */
    animation: marquee 30s linear infinite;
    position: relative;
}

@keyframes marquee {
    0% { transform: translateX(1%); }
    100% { transform: translateX(-100%); }
}

/* CSS galerii obrazów */
.gallery-image {
    padding: 20px;
    display: flex;
    flex-wrap: wrap; /* TUTAJ MOZNA SMIALO ZMIENIC NA NO-WRAP */
    justify-content: center; /* Wyśrodkowuje elementy w poziomie */
    align-items: center; /* Opcjonalnie, wyśrodkowuje elementy w pionie */
  }
  
  .gallery-image .img-box {
    box-sizing: border-box;
    margin: 10px;
    height: 250px;
    width: calc(33.333% - 20px); /* Ustaw szerokość, aby pasowała do trzech obrazów w rzędzie */
    overflow: hidden;
    color: white;
    position: relative;
    background-color: white;
  }
  
  .gallery-image img {
    height: 100%;
    width: 100%;
    object-fit: cover; /* Zachowuje proporcje i przycina obraz, aby wypełnić kontener */
    transition: transform 0.4s ease;
  }
  
  .caption {
    position: absolute;
    bottom: 5px;
    left: 20px;
    opacity: 0.0;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  .transparent-box {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    transition: background-color 0.3s ease;
  }
  
  .img-box:hover img { 
    transform: scale(1.1);
  }
  
  .img-box:hover .transparent-box {
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .img-box:hover .caption {
    transform: translateY(-20px);
    opacity: 1.0;
  }
  
  .img-box:hover {
    cursor: pointer;
  }
  
  .caption > p:nth-child(2) {
    font-size: 0.8em;
  }
  
  .opacity-low {
    opacity: 0.5;
  }

/* Styl dla strony kontaktowej */
body.contact-page {
    background: none !important;
    background-color: white !important;
    color: black !important;
    overflow: auto !important;
    height: auto !important;
}

body.contact-page header.navbar {
    background-color: white !important;
}

body.contact-page .navbar-brand, body.contact-page .nav-link {
    color: black !important;
}

.contact-section {
    text-align: justify;
    padding: 50px 0;
    width: 100%;
    margin-top: 50px; /* Dostosuj, jeśli nagłówek nie jest widoczny */
}

.contact-section h1 {
    font-size: 3em;
    margin-bottom: 10px;
    margin-left: 110px;
}

.contact-section hr {
    border: 1px solid black;
    width: 80%;
    margin: 30px auto;
}

.contact-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Ustawienie elementów w kolumnie */
    margin-right: 90px;
}

.contact-info {
    display: flex;
    flex-direction: column; /* Ustawienie elementów w kolumnie */
    align-items: flex-start;
    margin-bottom: 20px;
}

.contact-item {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    margin: 20px 0; /* Odstępy pomiędzy elementami */
}

.contact-item i {
    margin-right: 10px;
    font-size: 2em;
}

.contact-item p, .contact-item a {
    margin: 0; /* Usunięcie domyślnego marginesu */
}

.contact-item a {
    text-decoration: none;
    color: black;
    display: flex; /* Flex dla wyśrodkowania tekstu w pionie */
    align-items: center; /* Wyrównanie tekstu z ikoną */
}

.contact-item a:hover {
    text-decoration: none;
    color: #0077b5;
}

.contact-message p {
    font-size: 1.2em;
    text-align: center;
    margin-left: 90px;
}

#LIcolor {
    color: #0077b5;
}

/* Styl dla strony My Experience */
body.work-page {
    background: none !important;
    background-color: white !important;
    color: black !important;
    overflow: auto !important;
    height: auto !important;
}

body.work-page header.navbar {
    background-color: white !important;
}

body.work-page .navbar-brand, body.work-page .nav-link {
    color: black !important;
}

.experience-section, .achievements-section, .portfolio-section, .recommendations-section, .courses-section {
    text-align: justify;
    padding: 50px 0;
    width: 100%;
    margin-top: 0px;
}

.experience-content {
    margin-left: 110px;
}

.experience-section h1, .achievements-section h2, .portfolio-section h2, .recommendations-section h2, .courses-section h2 {
    font-size: 3em;
    margin-bottom: 10px;
    margin-left: 110px;
}

.experience-section h5, .about-section h5, .experience-section h2 {
    margin-bottom: 10px;
    margin-left: 110px;
}

.experience-section hr, .achievements-section hr, .portfolio-section hr, .recommendations-section hr, .courses-section hr {
    border: 1px solid black;
    width: 80%;
    margin: 30px auto;
}

.project-item, .recommendations-content blockquote, .courses-content ul, .achievements-content {
    margin-left: 110px;
    margin-right: 90px;
    margin-bottom: 20px;
}

.achievements-content img {
    margin-left: 230px !important;
    margin-bottom: 20px;
    margin-top: 20px;
}

.project-item h3 {
    font-size: 2em;
    margin-bottom: 10px;
}

.project-item p {
    margin-bottom: 5px;
}

.recommendations-content blockquote {
    font-size: 1.2em;
    margin-bottom: 20px;
    border-left: 5px solid #ccc;
    padding-left: 10px;
}

.courses-content ul {
    list-style-type: none;
    padding: 0;
}

.courses-content li {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.button-28 {
    appearance: none;
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 40%;
    will-change: transform;
  }
  
  .button-28:disabled {
    pointer-events: none;
  }
  
  .button-28:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  .button-28:active {
    box-shadow: none;
    transform: translateY(0);
  }  

  .company-section {
    margin-top: 40px;
}

.company {
    margin-bottom: 20px;
}

.company-header {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    margin-left: 110px;
}

.company-header img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.company-description {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.5;
    margin-left: 110px;
}

.animated-border-quote {
  display: inline-block;
  margin: 1em;
  max-width: 20em;
  overflow: hidden;
}

.animated-border-quote blockquote {
  background-color: #fff;
  border: solid 2px #757575;
  display: inline-block;
  margin: 0;
  padding: 1em;
  position: relative;
}

.animated-border-quote blockquote:before {
  animation: clockwise 30s infinite linear;
  background-color: #fff;
  bottom: 10%;
  content: "";
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 10%;
}

.animated-border-quote blockquote:after {
  animation: counter 30s infinite linear;
  background-color: #fff;
  bottom: 10%;
  content: "";
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 10%;
}

.animated-border-quote blockquote cite {
  display: block;
  font-style: italic;
  text-align: right;
}

.animated-border-quote blockquote cite:before {
  content: "- ";
}

.animated-border-quote blockquote > * {
  position: relative;
  z-index: 1;
}

@keyframes clockwise {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes counter {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.recommendations-content {
    margin-left: 30px;
}